<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gokul Todo List</title>
    <script src="/assets/jQuery-min.js"> </script>
    <link href="/assets/styles.css" type="text/css" rel="stylesheet"/>

</head>
<body>
    <h1>Todo List</h1>
    <div id ='todo-table'>
    
        <form>
            <input type="text" placeholder="Enter the task" name ="item" required />
            <button type="submit"> Add Item </button>
        </form>

        <ul>
            <% for(var i=0; i<todoList.length; i++) { %>
               <li><%= todoList[i].item %> </li>

           <% } %>
        </ul>
    </div>    
    <script src="/assets/todo-list.js"> </script>
</body>
</html>